body {
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-size: x-large;
    text-align: center;
}

header nav {
    text-align: left;
    color: blueviolet;
}

header p {
    text-align: center;
    padding: 30px 25px;
}

.btn {
    color: white;
    background-color: blueviolet;
}